name: Day1 - Basic CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print basic info
        run: |
          echo "Hello GitHub Actions!"
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Actor: $GITHUB_ACTOR"
          echo "Ref: $GITHUB_REF"
          echo "SHA: $GITHUB_SHA"

      - name: List files
        run: ls -la
